/* Header */
.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

.demo-1 .large-header {
	/*background-image: url('../img/header.jpg');*/
	background-size: cover;
	background-color:black;
	background-image:
	radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 10px),
	radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 10px),
	radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 10px),
	radial-gradient(white, rgba(255,255,255,.1) 5px, transparent 10px),
	radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 10px);
	background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
	background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

.demo-1 {
	text-transform: uppercase;
	font-size: 4.2em;
	letter-spacing: 0.1em;
}

.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.demo-1 .main-title {
	text-transform: uppercase;
	font-size: 2em;
	letter-spacing: 0.1em;
}

@media only screen and (max-width : 768px) {
	.demo-1 .main-title {
		font-size: 2em;
	}
}
