    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-xs-6">
                <h2>About</h2>
                <img id="dot" src="img/icons/favicon.png">
            </div>
            <div class="col-xs-6">
                <p class="abo">Octal is a project part of <a href="http://stars4all.eu/">Stars4All</a> program. Our aim is to create an experience where citizens around the globe could learn the relevance of protecting the night from light pollution.</p>
            </div>
            <br/>
        </div>
    </section>
