    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="lead">
                    <br/>
                    <h2>About</h2>
                    <p id="abo"><i class="fa fa-quote-left" aria-hidden="true"></i> Octal is a project part of <a href="http://stars4all.eu/">Stars4All</a> program. Our aim is to create an experience where kids around the globe could learn the relevance of protecting the night from light pollution. <i class="fa fa-quote-right" aria-hidden="true"></i></p>
                </div>
              <br/><br/>
            </div>
        </div>
    </section>
