<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6 bg-text" data-bg-text="OCTAL"></div>
            <div class="col-md-6 footer-content">
                <p class="copyright text-muted small">“Octal is part of the Stars4ALL project that has received funding from the European Union’s Horizon 2020 under grant agreement No 688135". <br/></p>
                <br/>
            </div>
    </div>
    <div class="row last-footer">
        <p>Copyright &copy; 2017 Octal. Some Rights Reserved. Credits: Landing Page created by <a href="http://startbootstrap.com/">Start Bootstrap</a> and edited by <a href="http://crishernandez.co">Cris Hernández Milla</a></p>
            <ul class="list-inline">
                <li>
                    <a href="#home">Home</a>
                </li>
                <li class="footer-menu-divider">&sdot;</li>
                <li>
                    <a href="#about">About us</a>
                </li>
                <li class="footer-menu-divider">&sdot;</li>
                <li>
                    <a href="#services">How it works</a>
                </li>
                <li class="footer-menu-divider">&sdot;</li>
                <li>
                    <a href="#contact">Contact</a>
                </li>
            </ul>
</div>

</footer>
