<section id="services">
  <div class="clearfix"></div>
<!-- Page Content -->
{% for post in site.posts reversed %}
  {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    {% if thecycle == 'odd' %}
    <div class="content-section-a" id="push-down">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <div class="lead">{{ post.content }}</div>
                </div>
                <!-- INSERTAR GALERÍA -->
                <div class="col-lg-5 col-lg-offset-2 col-sm-6" id="slideshow">
                    {% if post.img != null %}
                    <img class="img-responsive" src="img/services/{{ post.img }}" alt="">
                    {% else %}
                      {% if post.gallery == true %}
                      <div class="col-sm-5 thumb">
                        <img class="img-responsive" src="img/services/gallery/a.jpg" alt="">
                      </div>
                      <div class="col-sm-5 thumb">
                        <img class="img-responsive" src="img/services/gallery/b.jpg" alt="">
                      </div>
                      <div class="col-sm-5 thumb">
                        <img class="img-responsive" src="img/services/gallery/c.jpg" alt="">
                      </div>
                      <div class="col-sm-5 thumb">
                        <img class="img-responsive" src="img/services/gallery/d.jpg" alt="">
                      </div>
                      {% else %}
                        {% include team.html %}                                                                                                                                          
                      {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- /.content-section-a -->
    {% else %}

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <div class="lead">{{ post.content }}</div>
                </div>
                <div class="col-lg-5 col-sm-pull-6 col-sm-6">
                  <img class="img-responsive" src="img/services/{{ post.img }}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
    {% endif %}
{% endfor %}
</section>
