<div id="equipo-tag"></div>
<div class="col-sm-9 member">
  <img class="img-responsive member-pic" id="paz" src="img/team/paz.jpg" alt="">
</div>
<div class="col-sm-9 member">
  <img class="img-responsive member-pic" id="ruben" src="img/team/ruben.jpg" alt="">
</div>
<div class="col-sm-9 member">
  <img class="img-responsive member-pic" id="touraj" src="img/team/touraj.jpg" alt="">
</div>
<div class="col-sm-9 member">
  <img class="img-responsive member-pic" id="cris" src="img/team/cris.jpg" alt="">
</div>
<!--  -->
<div class="col-sm-9 member">
  <img class="img-responsive member-pic" id="victor" src="img/team/victor.jpg" alt="">
</div>
<div class="col-sm-9 member">
  <img class="img-responsive member-pic" id="pedro" src="img/team/pedro.jpg" alt="">
</div>
<div class="col-sm-9 member">
  <img class="img-responsive member-pic" id="paulina" src="img/team/paulina.jpg" alt="">
</div>
<div class="col-sm-9 member">
  <img class="img-responsive member-pic" id="maricel" src="img/team/maricel.jpg" alt="">
</div>
