<div class="col-sm-9 member">
  <img class="img-responsive member-pic" src="img/team/paz.jpg" alt="">
</div>
<div class="col-sm-9 member">
  <img class="img-responsive member-pic" src="img/team/ruben.jpg" alt="">
</div>
<div class="col-sm-9 member">
  <img class="img-responsive member-pic" src="img/team/touraj.jpg" alt="">
</div>
<div class="col-sm-9 member">
  <img class="img-responsive member-pic" src="img/team/cris.jpg" alt="">
</div>
<div class="col-sm-9 member">
  <img class="img-responsive member-pic" src="img/team/el.jpg" alt="">
</div>
<div class="col-sm-9 member">
  <img class="img-responsive member-pic" src="img/team/ella.jpg" alt="">
</div>
<div class="col-sm-9 member">
  <img class="img-responsive member-pic" src="img/team/el.jpg" alt="">
</div>
<div class="col-sm-9 member">
  <img class="img-responsive member-pic" src="img/team/ella.jpg" alt="">
</div>
