<div id="equipo-tag"></div>
<div class="col-sm-9 member">
  <img class="img-responsive member-pic" id="paz" src="img/team/paz.jpg" alt="">
</div>
<div class="col-sm-9 member">
  <img class="img-responsive member-pic" id="ruben" src="img/team/ruben.jpg" alt="">
</div>
<div class="col-sm-9 member">
  <img class="img-responsive member-pic" id="touraj" src="img/team/touraj.jpg" alt="">
</div>
<div class="col-sm-9 member">
  <img class="img-responsive member-pic" id="cris" src="img/team/cris.jpg" alt="">
</div>
<!-- <div class="col-sm-9 member">
  <img class="img-responsive member-pic" id="" src="img/team/el.jpg" alt="">
</div>
<div class="col-sm-9 member">
  <img class="img-responsive member-pic" id="" src="img/team/ella.jpg" alt="">
</div>
<div class="col-sm-9 member">
  <img class="img-responsive member-pic" id="" src="img/team/el.jpg" alt="">
</div>
<div class="col-sm-9 member">
  <img class="img-responsive member-pic" id="" src="img/team/ella.jpg" alt="">
</div> -->
